{% extends 'pizzaApp/base.html' %}
{% load static %}

{% block content %}
  <div class="col-sm-8 col-sm-offset-2">

  {% if empty or not request.session.totalprice %}
    <h2>Your cart is empty, N-word</h2>

  {% else %}
    <table class="table">
    <thead>
        <th>Пицца</th>
        <th>Цена</th>
        <th>Количество</th>
        <th></th>
    </thead>

    {% for pizza in cart.cartitem_set.all %}
    <tr>
        <td>{{ pizza.pizzas.item }}</td>
        <td>{{ pizza.pizzas.price|floatformat:2  }}</td>
        <td>{{ pizza.quantity }}</td>
        <td>
             <form method="GET" action="{% url "update_cart" pizza.pizzas.id %}">
                 <input name="qty" type="number" value="0" style="display:none">
                 <input type="submit" value="Выгнать из партии" class="btn btn-sm btn-outline-secondary">
             </form>
        </td>
    </tr>
    {% endfor %}

    <tfoot>
        <td></td>
        <td>Итого: {{ cart.total|floatformat:2  }}</td>
        <td></td>
        <td></td>
    </tfoot>
    </table>
  {% endif %}
  </div>
{% endblock %}